<footer>
  <div class="container">
    <p>Made with ❤️ by Ibrahim & Mohammad</p>

    <div class="logos">
      <img src="../../assets/images/techbench-logo.png" alt="techbench-logo">
      <img src="../../assets/images/kfupm.png" alt="kfupm-logo">
    </div>

    <div class="social-media">
      <a href="mailto:info@techbench.team" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>

      <a href="https://www.instagram.com/techbench_sa/" target="_blank" >
        <i class="fab fa-instagram"></i>
        </a>

      <a href="https://twitter.com/tech_bench" target="_blank" >
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>