<div class="info-section" id="info">
  <div class="overlay"></div>
  <div class="container">
    <!-- TechBench Logo -->
    <img src="../../assets/images/techbench-logo-white.png" alt="techbench-logo">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque ratione rem tenetur nostrum autem, nemo excepturi
      hic. Sed doloribus illo animi incidunt amet maxime dolores, quas magni totam nam ducimus! Ducimus ullam dolores
      adipisci quos deserunt quibusdam, aliquam soluta placeat repellendus vitae obcaecati ipsam hic! Maxime facere
      voluptas ipsam, voluptatem tenetur nemo quasi expedita, pariatur debitis iste, distinctio minus eos. Eligendi
      commodi unde optio dolores ipsum iusto explicabo. Voluptas provident accusantium aspernatur placeat ex cumque
      amet nulla ratione. Saepe pariatur mollitia distinctio tenetur dolor, nesciunt sequi explicabo similique labore
      placeat asperiores, vel hic esse ut molestiae recusandae corporis consectetur. Quia?
    </p>
  </div>
</div>