@import '../../global.scss';

.info-section {
  transform: skewY(-5deg);
  // background-image: url('../../assets/images/cover.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  padding: 2em 0;

  .overlay {
    background-image: linear-gradient(to bottom right, rgb(29, 29, 29), rgb(89, 131, 156));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .container {
    transform: skewY(5deg);
    min-height: 50vh;
  
    img {
      display: block;
      max-height: 150px;
      margin: auto;
    }
    p {
      font-size: 1.2rem;
      color: #fff;
      margin: 3em;
      
      @include phone() {
        font-size: 1.1rem;
        margin: 2em 1em;
      }
    }
  }
}