<div>
  <!-- TechBench Logo -->
  <img src="../../assets/images/techbench-logo.png" alt="techbench-logo">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In cum ipsam hic eos magnam modi voluptas tempora, deserunt error, ut nisi similique dignissimos veritatis et qui sed esse, culpa nemo!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In cum ipsam hic eos magnam modi voluptas tempora, deserunt error, ut nisi similique dignissimos veritatis et qui sed esse, culpa nemo!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In cum ipsam hic eos magnam modi voluptas tempora, deserunt error, ut nisi similique dignissimos veritatis et qui sed esse, culpa nemo!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In cum ipsam hic eos magnam modi voluptas tempora, deserunt error, ut nisi similique dignissimos veritatis et qui sed esse, culpa nemo!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In cum ipsam hic eos magnam modi voluptas tempora, deserunt error, ut nisi similique dignissimos veritatis et qui sed esse, culpa nemo!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In cum ipsam hic eos magnam modi voluptas tempora, deserunt error, ut nisi similique dignissimos veritatis et qui sed esse, culpa nemo!
  </p>
</div>