<div class="container section-2" id="prizes">
  <h1 class="main-heading">Prizes</h1>

  <div class="cards">
    <div id="second" class="card">
      <i class="fas fa-trophy"></i>
      <h3>Second Place</h3>
      <h2>10,000 SAR</h2>
    </div>
  
    <div id="first" class="card">
      <i class="fas fa-trophy"></i>
      <h3>First Place</h3>
      <h2>20,000 SAR</h2>
    </div>
    
    <div id="third" class="card">
      <i class="fas fa-trophy"></i>
      <h3>Third Place</h3>
      <h2>5,000 SAR</h2>
    </div>
  </div>
</div>