<div class="showcase-container">
  <!-- <img src="../../assets/images/2.gif" alt=""> -->

  <div class="showcase-image"></div>

  <div class="showcase-content">
      <h1>Hackathon 4.0</h1>
      <p><i class="fa fa-map-marker"></i> Building <span>10</span> at KFUPM</p>
      
      <p><i class="fa fa-calendar"></i> March <span>6th</span>, 2019</p>

      <button class="button">Register</button>
      <button (click)="scroll('info')" class="button button-outline">More info</button>
  </div>
</div>

