@import '../../palette.scss';

.showcase-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(13, 160, 173, 0.9), #101010);

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .showcase-content {
    transform: translateY(30vh);
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;

    h1 {
      font-size: 6rem;
      font-weight: 400;
      color: #fff;
      margin: 0;
    }

    p {
      font-size: 1.5rem;
      color: #fff;
    }
  }
}