
@import '/palette.scss';

//  * {
//      border: 1px solid salmon;
//  }


 @font-face {
  font-family: 'century-gothic';
  src: url("../src/assets/fonts/GOTHIC.TTF");
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'century-gothic';
  background: #eaeaea;
  // overflow-x: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #526470;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  background: $color4;
  color: #526470;
  padding: 1.2em;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1em;
  transition: all .4s;
  cursor: pointer;
  outline: none;

  &:hover {
      box-shadow: 0 0px 0px 4px rgba(255, 255, 255, 0.4);
  }
}

.button-outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.container {
  width: 70%;
  margin: 5em auto;
  min-height: 70vh;
}

.main-heading {
  color: $color1;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;

  &::after {
    display: block;
    content: '';
    width: 75px;
    height: 3px;
    background: #2c84b7;
    opacity: .9;
    margin: 0.3em auto;
  }
}