
/* You can add global styles to this file, and also import other style files */
//  * {
//      border: 1px solid salmon;
//  }


 @font-face {
  font-family: 'century-gothic';
  src: url("../src/assets/fonts/GOTHIC.TTF");
}

body, html {
  margin: 0;
  padding: 0;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    width: 235px;
    border: 1px solid #526470;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    color: #526470;
    padding: 1.2em;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1em;
    transition: all .4s;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 10px 0px rgba(255, 255, 255, 0.4);
    }
}

.button-outline {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  font-family: 'century-gothic';
}