
/* You can add global styles to this file, and also import other style files */
 * {
     border: 1px solid salmon;

 }

 @font-face {
  font-family: 'century-gothic';
  src: url("../src/assets/fonts/GOTHIC.TTF");
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'century-gothic';
}